// Site Variables
$background_color: #efefef;
$secondary_color: #c8beb3;
$button_color: #363636;
$wrapper_color: #ffffff;

// Background Colors


// Text Colors
$txtColor: white;

// Fonts
// $headingFont: ;
// $bodyFont: ;


//Dimensions
$siteWidth: 1000px;


//Breakpoints
$mobileMedium: 500px;
$tabletSmall: 670px;
$tabletMedium: 700px;
$desktopSmall: 770px;
$desktopRegular: 1120px;
