// Fonts, Font-type, Font-Size, Font-Weight

body {
    font-family: $bodyFont;
    //font-weight: ;
}

h1, h2, h3, h4 h5, h6 {
    font-family: $headingFont;
    //font-weight: ;
}

nav a {
    font-family: $navFont;
    //font-weight: ;
} 