html {
    height: 100%;
}
/*
------------------------------------------------------------------------------------------------
-------
INDEX STYLES
-------
------------------------------------------------------------------------------------------------
*/
.tagline-container {

    left: 0;
    margin-top: -100px;
    position: absolute;
    padding-left: 20px;
    padding-right: 90px;
    text-align: left;
    top: 50%;
    font-size: 20px;
    width: 90%;
    


    // Tag Line Container Media Queries

    @media (min-width: $tabletMedium) // 700px
    {
        font-size: 30px;
    }

    @media (min-width: $desktopSmall)
    {
       font-size: 40px; 
    }

    @media (min-width: $desktopRegular) // 1120px
    {
        font-size: 60px; 
        width: 50%;
    }
}

// Making Health Good with Cheese FONT COLOR

.tagline {
    color: $secondary_color;
}

// Explore Button Styles

// Explore Button Media Queries


/* Offset Button Styles */

.btn-explore {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}
  
.btn-explore:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 4px solid white;
}
  
.btn-txt {
    background-color: $button_color;
    display: block;
    padding: 20px;
    font-size: 20px;
}


.explorebutton {

    @media (min-width: $desktopSmall){
        
        .btn-explore {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        position: relative;
        }
    
        .btn-explore:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 20px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: 4px solid white;
        }
    
        .btn-txt {
        background-color: $button_color;
        display: block;
        padding: 20px;
        font-size: 30px;
        }
    }
}

/*
------------------------------------------------------------------------------------------------
-------
PROCESS STYLES
-------
------------------------------------------------------------------------------------------------
*/





/*
------------------------------------------------------------------------------------------------
-------
ABOUT STYLES
-------
------------------------------------------------------------------------------------------------
*/




/*
------------------------------------------------------------------------------------------------
-------
CONTACT STYLES

-------
------------------------------------------------------------------------------------------------
*/
.form-group {
    display: grid;
}