html {
    height: 100%;
}

// Index Background Image
.body-index {
    margin: 0;
    background-size: cover;
    background-color: none;
    background-image: url("../images/landing-wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}

// About Background Image
.body-about-index {
    margin: 0;
    background-size: cover;
    background-color: none;
    background-image: url('/images/about-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}

// Contact Background Image
.body-contact {
    margin: 0;
    background-size: cover;
    background-color: none;
    background-image: url('/images/cheese_background_1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}