html {
    height: 100%;
}
/*
------------------------------------------------------------------------------------------------
-------
INDEX STYLES
-------
------------------------------------------------------------------------------------------------
*/
.tagline-container {

    left: 0;
    margin-top: -100px;
    position: absolute;
    padding-left: 20px;
    padding-right: 90px;
    text-align: left;
    top: 50%;
    font-size: 50px;
    width: 50%;

    // Tag Line Container Media Queries

    @media (min-width: $tabletMedium) // 700px
    {
        font-size: 50px;
    }

    @media (min-width: $desktopSmall)
    {
       font-size: 60px; 
    }

    @media (min-width: $desktopRegular)
    {
        font-size: 90px; 
    }
}

// Making Health Good with Cheese FONT COLOR

.tagline {
    color: $secondary_color;
}

// Explore Button Styles

.explorebutton {
    max-width: 20%;
}

// Explore Button Media Queries


/* Offset Button Styles */

.btn-explore {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}
  
.btn-explore:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 4px solid $button_color;
}
  
.btn-txt {
    background-color: $button_color;
    display: block;
    padding: 30px;
    font-size: 20px;
}

/*
.explorebutton {

    @media (min-width: $tabletMedium)
    
    {
        color: white;
        font-size: 20px;
        padding: 10px;
        margin: 20px;
        margin-top: 50px;
        background-color:$button_color;
        outline: 4px solid #6e0d0d;
        outline-offset: 15px;
        text-align: center;
    }

    @media (min-width: $desktopSmall)
    
    {
        color: white;
        font-size: .3em;
        padding: 10px;
        margin: 20px;
        margin-top: 50px;
        background-color:$button_color;
        outline: 4px solid #6e0d0d;
        outline-offset: 15px;
        text-align: center;
        max-width: 10%;
    }

}
*/

/*
------------------------------------------------------------------------------------------------
-------
PROCESS STYLES
-------
------------------------------------------------------------------------------------------------
*/





/*
------------------------------------------------------------------------------------------------
-------
ABOUT STYLES
-------
------------------------------------------------------------------------------------------------
*/




/*
------------------------------------------------------------------------------------------------
-------
CONTACT STYLES

-------
------------------------------------------------------------------------------------------------
*/
.form-group {
    display: grid;

}