// Contact form styles


.fieldset-contact {
    margin-top: 10px;
    border-width: 2.5px;
    margin-left: 20px;
}

.contact-form {
    text-align: left;
    // position: absolute;
    margin-top: 250px;
    margin-left: 90px;
    margin-bottom: 60px;
    width: 700px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form h2 {
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 10px;
}

.legend-contact-form {
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
}

.basic-form p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-grey-bckgnd {
    border: none;
    background-color: lightgrey;
    padding: 15px;
    margin: 5px;
    width: 96%;
    margin-bottom: 20px;
    border-radius: 3px;
}

.legend-contact-form,
.form-row input,
.contact-label {
    margin-left: 5px;
}

.basic-form p,
.contact-form h2 {
    margin-left: 20px;
}

.submit {
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

// Contact form - @media queries
@media (max-width: $tabletMedium) {
    .contact-form {
        padding: none;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

    }
    .contact-form h2,
    .legend-contact-form {
        font-size: 1.25em;
        padding: 0px;
    }
    .contact-form p,
    .contact-label,
    .contact-grey-bckgnd,
    .form-row label {
        font-size: 0.85em;
    }
    .legend-contact-form {
        padding: 0px;
        margin: 0px;
    }
}

@media (min-width: $desktopRegular)
{
    .fieldset-contact {
        background-color: rgba(239,239,239,0.3);
        margin-top: 40px;
        border-width: 2.5px;
        margin-left: 20px;
    }

    .contact-form {
        text-align: left;
        // position: absolute;
        margin-top: 250px;
        margin-left: 90px;
        margin-bottom: 60px;
        width: 700px;
        padding-left: 70px;
        padding-right: 50px;
        padding-bottom: 100px;
        // margin-top: 12%;
        // margin-left: auto;
        // margin-right: auto;
    }

    .contact-form h2 {
        font-size: 2em;
        font-weight: lighter;
        text-align: center;
        padding-bottom: 10px;
    }

    .legend-contact-form {
        font-size: 1.5em;
        font-weight: lighter;
        text-align: center;
        padding: 10px;
    }

    .basic-form p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .contact-grey-bckgnd {
        border: none;
        background-color: lightgrey;
        padding: 15px;
        margin: 5px;
        width: 96%;
        margin-bottom: 20px;
        border-radius: 3px;
    }

    .legend-contact-form,
    .form-row input,
    .contact-label {
        margin-left: 5px;
    }

    .basic-form p,
    .contact-form h2 {
        margin-left: 20px;
    }

    .submit {
        width: 100px;
        padding: 10px;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
    }
}