// Footer

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 50px 0px 50px;
    font-size: 10px;

    a:link,
    a:visited,
    a:active {
        color:black;
        text-decoration: none;
    }
}

.about-footer {
    color: white;
    padding: 50px 50px 20px 50px;
    margin: 0;


    // changing link style
    a:link,
    a:visited,
    a:active {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    a:hover {
        color: #BF964B;
        text-decoration: none;
    }
}

