// Header, Logo, Navigation Links, Menu Button

.btn-menu {
    background-color: none;
    color: black;    
    border: none;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    margin-right: 30px;
    cursor: pointer;
}



.logo {
    width: 40%;

    @media (min-width: $desktopSmall)
    {
        width: 50%;
    }
}