// Image Styling

/*
------------------------------------------------------------------------------------------------
-------
INDEX STYLES
-------
------------------------------------------------------------------------------------------------
*/
// Index Background Image
.body-index {
    margin: 0;
    background-size: cover;
    background-color: none;
    background-image: url("../images/landing-wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}


/*
------------------------------------------------------------------------------------------------
-------
PROCESS STYLES
-------
------------------------------------------------------------------------------------------------
*/
.body-process {
    margin: 0;
    background-size: cover;
    background-color: none;
    background-image: url("/images/process/process_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}



/*
------------------------------------------------------------------------------------------------
-------
ABOUT STYLES
-------
------------------------------------------------------------------------------------------------
*/
// About Background Image
.body-about-index {
    margin: 0;
    background-size: cover;
    background-color: none;
    background-image: url('/images/about-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}


/*
------------------------------------------------------------------------------------------------
-------
CONTACT STYLES

-------
------------------------------------------------------------------------------------------------
*/
// Contact Background Image
.body-contact {
    margin: 0;
    background-size: cover;
    background-color: none;
    background-image: url('/images/contact-bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}

// remove background-image on mobile, only show off-white background color
@media (max-width: $tabletMedium) {
    .body-contact {
        background-color: #efefef;
        background-image: none;
    }
}