// Image Styling

/*
------------------------------------------------------------------------------------------------
-------
INDEX STYLES
-------
------------------------------------------------------------------------------------------------
*/
// Index Background Image
.body-index {
    margin: 0;
    background-size: cover;
    background-color: transparent;
    background-image: url("../images/landing-wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}


/*
------------------------------------------------------------------------------------------------
-------
PROCESS STYLES
-------
------------------------------------------------------------------------------------------------
*/
.body-process {
    margin: 0;
    background-size: cover;
    background-color: transparent;
    background-image: url("../images/process/cheese-cellar-1-final.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}

// Process Container Styling
// ------------  Container 1
.process-stage1 {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/process-stage-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



// ------------  Container 2
.process-stage2 {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/process-stage-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// ------------  Container 3
.process-stage3 {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/process-stage-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// ------------  Container 4
.process-stage4 {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/process-stage-4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// ------------  Container 5
.process-stage5 {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/process-stage-5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



// ------------------------------Cheese Types Styling
// Types Container Styling
// ------------  Container 1
.type-mild {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/type-3-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



// ------------  Container 2
.type-medium {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/type-5-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// ------------  Container 3
.type-bold {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/type-6-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// ------------  Container 4
.type-strong {
    position: relative;
    max-width: 100%;
    height: 700px;
    background-image: url("../images/process/type-1-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/*
------------------------------------------------------------------------------------------------
-------
ABOUT STYLES
-------
------------------------------------------------------------------------------------------------
*/
// About Background Image
.body-about-index {
    margin: 0;
    background-size: cover;
    background-color: transparent;
    background-image: url('../images/about-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}


/*
------------------------------------------------------------------------------------------------
-------
CONTACT STYLES

-------
------------------------------------------------------------------------------------------------
*/
// Contact Background Image
.body-contact {
    margin: 0;
    background-size: cover;
    background-color: transparent;
    background-image: url('../images/contact-bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
}

// remove background-image on mobile, only show off-white background color
@media (max-width: $tabletMedium) {
    .body-contact {
        background-image: transparent;
    }
}