// Main Style Guide

// main selectors
    // contact form - main selectors

// .class selectors
    // contact form - .class selectors

    .fieldset-contact {
        margin-top: 50px;
    }

    .contact-form {
        text-align: left;
        position: absolute;
        right: 50%;
        padding-left: 50px;
        margin-top: 150px;
    }
    
    .contact-form h2 {
        font-size: 2em;
        font-weight: lighter;
        text-align: center;
    }
    
    .legend-contact-form {
        font-size: 1.5em;
        font-weight: lighter;
        text-align: center;
    }

    .basic-form p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .form-row input,
    select, 
    optgroup,
    option {
        border: none;
        background-color: lightgrey;
        padding: 5px;
        margin: 5px;
    }

    .form-row label,
    .form-group label,
    .legend-contact-form {
        margin-left: 5px;
    }

    .basic-form p,
    .contact-form h2 {
        margin-left: 20px;
    }

    .submit {
        width: 100px;
        padding: 10px;
        text-transform: uppercase;
    }

// #id selectors
    // contact form - #id selectors


// @media
    // contact form - @media
