// Main Style Guide

// main selectors
    // contact form - main selectors

// .class selectors
    // contact form - .class selectors

    .fieldset-contact {
        margin-top: 50px;
        border: none;
    }

    .contact-form {
        text-align: left;
        position: absolute;
        right: 50%;
        padding-left: 50px;
        margin-top: 200px;
    }
    
    .contact-form h2 {
        font-size: 2.5em;
        font-weight: lighter;
        text-align: center;
    }
   
    .basic-form p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .form-row input,
    select, 
    optgroup,
    option {
        border: none;
        background-color: lightgrey;
        padding: 5px;
        margin: 5px;
    }
    .form-row label,
    .fieldset-contact legend {
        margin-left: 5px;
    }

// #id selectors
    // contact form - #id selectors


// @media
    // contact form - @media
