// Main Style Guide

// main selectors
    // contact form - main selectors



// .class selectors
    // contact form - .class selectors

    .contact-form {
        text-align: left;
        position: absolute;
        right: 50%;
        margin-top: -70px;
    }
    
    .contact-form h2 {
        font-size: 2.5em;
        font-weight: lighter;
        text-align: center;
    }
   

// #id selectors
    // contact form - #id selectors

// @media
    // contact form - @media
