// Nav Style Guide
/*
------------------------------------------------------------------------------------------------
-------
HTML Element Selectors (Index/About/Contact/Process Pages)
-------
------------------------------------------------------------------------------------------------
*/

/*--- Nav Bar Interactions (Universal) ---*/
/* Navigation Interactions */
nav a:focus, 
nav a:active, 
nav a:hover {
    color: #c6641a; 
    text-decoration: none;
}

/*--- Hamburger Menu / SideMenu ---*/
body.open {
    overflow: hidden;
}

/*
------------------------------------------------------------------------------------------------
-------
.Class Element Selectors 
-------
------------------------------------------------------------------------------------------------
*/
/* Hamburger Menu & Animations*/
.hamburger-menu {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    justify-content: space-around;
    z-index: 900;
}

.open .line-1 {
    transform: rotate(-45deg)translate(-8px, 6px);
}
 
.open .line-3 {
    transform: rotate(45deg) translate(-8px,-6px);
}
 
.open .line-2{
    opacity: 0;
}

.line {
    width:100%;
    height: 3px;
    background-color: black;
    transition: all .5s;
}

/* NavBar */
.navbar {
    width: 280px;
    /*Aligned with top About Section*/
    height: 100vh;
    background-color: darkgray;
    position: absolute;
    top: 0;
    /*Controls where Nav bar is located - Mobile Format*/
    right: -280px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Nav Bar coming from side, Text should align to RIGHT side of screen*/
    text-align: right;
    transition: right .9s;
    z-index: 2;
}
 
/* Controls Interaction / Makes Sidebar come out - MUST BE AT THE END */
.change {
    right: 0;
}

/*--- Nav SideBar/Hamburger Menu ---*/
.nav-item {
    margin-top: 30px;
    margin-right: 60px;
    list-style-type: none;
    letter-spacing: 8px;
}
  
.nav-a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 0 0 20px 0;
}

.nav-a-white {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 0 0 20px 0;
}

/* Main Nav Hover Underline */

.nav-a:after, .nav-a:before,
.nav-a-white:after, .nav-a-white:before {
display:block;
content: '';
border-bottom: solid 3px #c6641a;
margin-bottom: 9px; 
margin-bottom: 3px;
transform: scaleX(0);  
transition: transform 250ms ease-in-out;
}

.nav-a:hover:after, .nav-a:hover:before,
.nav-a-white:hover:after, .nav-a-white:hover:before {
    transform: scaleX(1);
}


/*
------------------------------------------------------------------------------------------------
-------
#ID Selectors 
-------
------------------------------------------------------------------------------------------------
*/
#nav-ul {
    list-style-type: none;
    font-weight: 100;
}


/*
------------------------------------------------------------------------------------------------
-------
Media Query (Universal)
-------
------------------------------------------------------------------------------------------------
*/
/*--- Mobile ---*/
@media (min-width: 750px) {
    /* Hamburger Menu */
    .hamburger-menu {
        display: flex;
    }

    .navbar {
        height: 100%;
    }
}

/*--- Tablet ---*/
@media (min-width: 900px) {
    /* Hamburger Menu */
    .hamburger-menu {
        display: flex;
    }
    /*
    /* Nav Menu */
    #nav-ul {
        position: absolute; /* Makes sure the navigation bar is there ALWAYS, past mobile mode */
        top: 10px;
        right: 200px;
        display: flex;
        margin:0;
    }

    .nav-a {
        font-size: 0.7em;
    }
    

}
/*--- Desktop ---*/
@media (min-width: 1200px) {
    /* Hamburger Menu */
    .hamburger-menu {
        display: none;
    }
    
    /* Nav Menu */
    #nav-ul {
        position: absolute; /* Makes sure the navigation bar is there ALWAYS, past mobile mode */
        top: 10px;
        right: 260px;
        display: flex;
    }

}