/*
--------------------------------------------
Process Page
--------------------------------------------
*/
// Process Page Styling 
.process-banner {
    height: 500px;
    padding: 30px;
    //background-image: url(/images/process/process-stage-1.jpg);
    text-align: center;
    color: $color4;
    font-size: 1em;
}

.process-banner h1 {
    font-family: $navFont;
    //text-transform: uppercase;
}

// Process Buttons Styling
.process-button-1, .process-button-2
{
    font-family: $headingFont;
    text-transform: uppercase;
    background-color: $color4;
    color: $color5;
    padding: 13px 25px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    //display: inline-block;
    font-size: 1em;
    cursor: pointer;
}

// Font Styling
.cheese-production h2 {
    margin: auto;
    text-align: center;
    font-family: $navFont;
    font-size: 2.3em;
    color: $color1;
    // /text-transform: uppercase;
}

/*
-----------------------
Media Query for Process Page
-----------------------
*/
/*--- Mobile ---*/
@media (min-width:500px) {

    // Header
    .process-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    //  PROCESS Container Text Decoration -------------------------------------------
    //---------------Container 1
    .process-stage1 h3 {
        position: absolute;
        top: 17%;
        left: 35%;
        font-size: 2em;
        color: $color5;
        font-family: $navFont;
        text-transform: uppercase;
    }
    .process-stage1 p {
        position: absolute;
        top: 35%;
        right: 10%;
        left: 32%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }
    
    //---------------Container 2
    .process-stage2 h3 {
        position: absolute;
        top: 17%;
        left: 10%;
        font-size: 2em;
        color: $color5;
        font-family: $navFont;
        text-transform: uppercase;
    }
    .process-stage2 p {
        position: absolute;
        top: 30%;
        left: 10%;
        right: 45%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 3
    .process-stage3 h3 {
        position: absolute;
        top: 17%;
        right: 10%;
        font-size: 2em;
        color: $color5;
        font-family: $navFont;
        text-transform: uppercase;
    }
    .process-stage3 p {
        position: absolute;
        top: 33%;
        right: 10%;
        left: 45%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 4
    .process-stage4 h3 {
        position: absolute;
        top: 20%;
        left: 10%;
        font-size: 2em;
        color: $color5;
        font-family: $navFont;
        text-transform: uppercase;
    }

    .process-stage4 p {
        position: absolute;
        top: 37%;
        left: 10%;
        right: 35%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 5
    .process-stage5 h3 {
        position: absolute;
        top: 20%;
        left: 40%;
        right: 10%;
        font-size: 2em;
        color: $color5;
        font-family: $navFont;
        text-transform: uppercase;
    }

    .process-stage5 p {
        position: absolute;
        top: 40%;
        right: 10%;
        left: 40%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }


    //  Type Container Text Decoration -------------------------------------------
    //---------------Container 1
    .type-mild h2 {
        position: absolute;
        top: 4%;
        left: 24%;
        font-size: 2.1em;
        color: $color1;
    }

    .type-mild h3 {
        position: absolute;
        top: 20%;
        left: 36%;
        font-size: 1.7em;
        color: $color2;
        font-family: $navFont;
        text-transform: uppercase;
    }

    .type-mild p {
        position: absolute;
        top: 28%;
        right: 10%;
        left: 36%;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    
    //---------------Container 2
    .type-medium h3 {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 2em;
        color: $color2;
        font-family: $navFont;
        text-transform: uppercase;
    }
    .type-medium p {
        position: absolute;
        top: 20%;
        left: 10%;
        right: 45%;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 3
    .type-bold h3 {
        position: absolute;
        top: 16%;
        left: 50%;
        font-size: 1.7em;
        color: $color2;
        font-family: $navFont;
        text-transform: uppercase;
    }

    .type-bold p {
        position: absolute;
        top: 26%;
        right: 6%;
        left: 50%;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 4
    .type-strong h3 {
        position: absolute;
        top: 15%;
        left: 7%;
        font-size: 2em;
        color: $color2;
        font-family: $navFont;
        text-transform: uppercase;
    }

    .type-strong p {
        position: absolute;
        top: 24%;
        left: 7%;
        right: 50%;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

}

/*--- Tablet ---*/
@media (min-width:700px) {

    //Header 
    .process-banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .process-header {
        margin-top: 90px;
        font-size: 2.8em;
        order: -1;
        flex: 1 0 100%;   
    }
    .process-button-1, 
    .process-button-2 {
        margin-top:0;
    }

    //  PROCESS Container Text Decoration -------------------------------------------
    //---------------Container 1
    .process-stage1 h3 {
        position: absolute;
        top: 17%;
        left: 60%;
        font-size: 2em;
        color: $color5;
        //text-transform: uppercase;
    }
    .process-stage1 p {
        position: absolute;
        top: 35%;
        right: 10%;
        left: 40%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 2
    .process-stage2 h3 {
        position: absolute;
        top: 20%;
        left: 10%;
        font-size: 2em;
        color: $color5;
        
    }
    .process-stage2 p {
        position: absolute;
        top: 40%;
        left: 10%;
        right: 50%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 3
    .process-stage3 h3 {
        position: absolute;
        top: 17%;
        right: 13%;
        font-size: 2em;
        color: $color5;
        
    }
    .process-stage3 p {
        position: absolute;
        top: 33%;
        right: 10%;
        left: 45%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 4
    .process-stage4 h3 {
        position: absolute;
        top: 20%;
        left: 10%;
        font-size: 2em;
        color: $color5;
    }

    .process-stage4 p {
        position: absolute;
        top: 37%;
        left: 10%;
        right: 43%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 5
    .process-stage5 h3 {
        position: absolute;
        top: 20%;
        left: 40%;
        right: 10%;
        font-size: 2em;
        color: $color5;
    }

    .process-stage5 p {
        position: absolute;
        top: 40%;
        right: 10%;
        left: 40%;
        font-size: 1.1em;
        font-weight: bold;
        line-height: normal;
    }

    //  Type Container Text Decoration -------------------------------------------
    //---------------Container 1
    .type-mild h2 {
        position: absolute;
        top: 4%;
        left: 33%;
        font-size: 2.4em;
        color: $color1;
    }

    .type-mild h3 {
        position: absolute;
        top: 20%;
        left: 69%;
        font-size: 1.7em;
        color: $color2;
    }

    .type-mild p {
        position: absolute;
        top: 28%;
        right: 6%;
        left: 60%;
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        line-height: normal;
    }

    
    //---------------Container 2
    .type-medium h3 {
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 2em;
        color: $color2;
        
    }
    .type-medium p {
        position: absolute;
        top: 20%;
        left: 5%;
        right: 45%;
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 3
    .type-bold h3 {
        position: absolute;
        top: 16%;
        left: 58%;
        font-size: 1.7em;
        color: $color2;
    }

    .type-bold p {
        position: absolute;
        top: 26%;
        right: 6%;
        left: 58%;
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        line-height: normal;
    }

    //---------------Container 4
    .type-strong h3 {
        position: absolute;
        top: 15%;
        left: 7%;
        font-size: 2em;
        color: $color2;
    }

    .type-strong p {
        position: absolute;
        top: 24%;
        left: 7%;
        right: 50%;
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        line-height: normal;
    }
}


/*--- Desktop ---*/
@media (min-width:1000px) {

    //Header 
    .process-banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .process-header {
        margin-top: 90px;
        font-size: 2.8em;
        order: -1;
        flex: 1 0 100%;   
    }
    .process-button-1, 
    .process-button-2 {
        margin-top:0;
    }

    //  PROCESS Container Text Decoration -------------------------------------------
    //---------------Container 1
    .process-stage1 h3 {
        position: absolute;
        top: 17%;
        left: 75%;
        font-size: 2em;
        color: $color5;
    }

    .process-stage1 p {
        position: absolute;
        top: 35%;
        right: 7%;
        left: 68%;
        font-size: 1.1em;
        font-weight: normal;
        line-height: 1.6;
    }

    //---------------Container 2
    .process-stage2 h3 {
        position: absolute;
        top: 17%;
        left: 10%;
        font-size: 2em;
        color: $color5;
    }
    .process-stage2 p {
        position: absolute;
        top: 35%;
        left: 10%;
        right: 50%;
        font-size: 1.1em;
        font-weight: normal;
        line-height: 1.6;
    }

    //---------------Container 3
    .process-stage3 h3 {
        position: absolute;
        top: 17%;
        right: 10%;
        font-size: 2em;
        color: $color5;
        
    }
    .process-stage3 p {
        position: absolute;
        top: 33%;
        right: 10%;
        left: 55%;
        font-size: 1.1em;
        font-weight: normal;
        line-height: 1.6;
    }

    //---------------Container 4
    .process-stage4 h3 {
        position: absolute;
        top: 20%;
        left: 10%;
        font-size: 2em;
        color: $color5;
    }

    .process-stage4 p {
        position: absolute;
        top: 37%;
        left: 10%;
        right: 61%;
        font-size: 1.1em;
        font-weight: normal;
        line-height: 1.6;
    }

    //---------------Container 5
    .process-stage5 h3 {
        position: absolute;
        top: 20%;
        left: 55%;
        right: 8%;
        font-size: 2em;
        color: $color5;
    }

    .process-stage5 p {
        position: absolute;
        top: 40%;
        right: 7%;
        left: 55%;
        font-size: 1.1em;
        font-weight: normal;
        line-height: 1.6;
    }
}